<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GiftCard</title>
  <link rel="stylesheet" href="../static/css/giftCard.css" >
  <!-- <link rel="stylesheet" href="../static/css/layout.css"> -->
</head>
<body>

<div class="animation-container">
  <h1 class="animation-text">Welcome</h1>
  <p>Choose your <span class="gift-card">gift card</span> here</p>
  <div class="loading-bar">
    <div class="loading-progress"></div>
  </div>
</div>
<div class="initial-page">
<header>
      <nav>
        <div>
          <a href="../templates/index.html"
            ><img src="../static/img/Logo.jpeg" alt="" id="icon"
          /></a>
        </div>
        <div>
          <ul>
        
            <li>
              <a href="/reddemgiftcard" >Redeem</a>
            </li>
            <li>
            

        
              <BUtton id="Dialog">Buy Gift Card</BUtton>
              <div id="dialog" class="dialog">
                  <div class="dialog-content">
                    <span class="close">&times;</span>
                    <h3>Choose your gift card</h3>
                    <div id="card20"> 
                      <div> <img src="../static/img/card20.png" alt="" id="card20"> </div>
                  </div>
                  <div id="butt">
                    <button id="20Button">20%</button>
                    <button  id="30Button">30%</button>
                    <button  id="50Button">50%</button>
                  </div>
                   
                  </div>
                 
                </div>
              
            </li>
          </ul>
        </div>
        
      </nav>
  </header>
  

  
    <div class="container">
      <main id="mainContent" class="main-content" class="initial-page">
          <h1>Sweet Home Gift Card</h1>
          <img id="img" src="../static/img/gift-card-1024x791.png" >
          <h1>Easy to give. Easy to love.</h1>
          <h3>Welcome to Sweet Home Gift Card.</h3>
        </main>
      
      </div>
    </div>
</body>
<script
src="https://code.jquery.com/jquery-3.7.1.min.js"
integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="../static/js/GiftCard.js"> </script>
</html>